<div class="row">
		<div class="col-sm-9">
			<div *ngIf="!hidenewLesson">
				<h2>New Lesson</h2>
				<form #form="ngForm" (ngSubmit)="onSubmitAddLesson(form.value)" class="well">
					<div class="form-group">
						<label>Title</label>
						<input type="text" class="form-control" required name="title" ngModel>
					</div>
					<div class="form-group">
						<label>Url</label>
						<input type="text" class="form-control" required name="url" ngModel>
					</div>
					<div class="form-group">
						<label>Description</label>
						<input type="text" class="form-control" name="description" ngModel>
					</div>
					<button type="submit" class="btn btn-success">Save</button>
				</form>
			</div>
			<lesson-detail *ngIf="selectedLesson && hidenewLesson" 
			(updateLessonEvent)="onUpdateLessonEvent($event)" 
			(deleteLessonEvent)="onDeleteLessonEvent($event)"
			 [lesson]="selectedLesson">
			</lesson-detail>
		</div>
		<div class="col-sm-3">
			<button style="margin-bottom:2px;" type="button" (click)="newLesson()" class="btn btn-success btn-block">+ New Lesson</button>
			<lesson-list [lessons]="lessons" (SelectLesson)="onSelectLesson($event)"></lesson-list>
		</div>
	</div>