<div>
    <form>  
        <h3 *ngIf="!editTitle" (click)="onTitleClick()">{{user.name}}</h3>     
        <div *ngIf="editTitle" class="form-group">
            <input type="input" class="form-control" name="name" required placeholder=""
            [(ngModel)]="user.name">
        </div>
        <div class="form-group">
            <input type="input" class="form-control" name="gmail" required placeholder="devildude98@gmail.com"
            [(ngModel)]="user.gmail">
        </div>
        <div class="form-group">
            <input type="input" class="form-control"  name="type" required placeholder="student" [(ngModel)]="user.type">
				</div>
				<div style="margin-bottom: 50px;"> 
        <button type="button" (click)="updateUser()" class="btn btn-primary">Update</button>  
				<button type="button" (click)="deleteUser()" class="btn btn-danger">Delete</button>
				</div>    
    </form>
</div>